{% extends 'main.html' %}
{% block content %}


{% if page == 'login' %}
<div class="login-container">
  <form method="POST" action="" class="login-form">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter username"/>

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter password"/>

    <input type="submit" value="Login"/>
  </form>
  <p>Haven't signed up yet?</p>
  <a href="{% url 'register'%}" class="button-link">Sign up</a>
</div>

{% else %}
<div class="login-container">
  <form method="POST" action="" class="login-form">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register"/>
  </form>
  <p>Already signed up?</p>
  <a href="{% url 'login'%}" class="button-link">Log in</a>
</div>
{% endif %}
{% endblock content %}