body{
    background-color: white;
}
.home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #DAF7A6
}

.login-form{
    width: 100%
    display: grid;
    grid-template-columns: auto;
    border: 3px solid #f1f1f1;
    background-color: pink;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: grid;
  grid-template-columns: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-link {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}